<form method="post" class="form-inline">
  <div class="form-group">
    <label for="name-text">Name</label>
    <input type="text" name="series_name" class="form-control" id="name-text" placeholder="">
  </div>
  <div class="form-group">
    <label for="start-date">Start Date</label>
    <span id='date1'>
      <input type="text" name="start_date" class="form-control" id="start-date" placeholder="">
    </span>
  </div>
  <div class="form-group">
    <label for="end-date">End Date</label>
    <span id='date2'>
      <input type="text" name="end_date" class="form-control" id="end-date" placeholder="">
    </span>
  </div>
  <button type="submit" class="btn btn-default">Add Series</button>
</form>
