<form class="form-inline" method = "post" action="/admin/series/{{ seriesRow.seriesId }}/{{publishAction}}">
    <button type="submit" class = "btn {{ publishClass }}">{{ publishText }}</button>
</form>
