<form method="post" class="{{ formClass }}"
  {% if boatClass is defined %}
    action="/admin/boatclasses/{{ boatClass.boatClassId }}/update"
  {% endif %}
>
  <div class="form-group">
    <label for="boat-class-name-text">Class Name</label>
    <input type="text" name="boat_class_name" class="form-control" id="boat-class-name-text" placeholder=""
      {% if boatClass is defined %}
        value="{{ boatClass.name }}"
      {% endif %}
    >
  </div>
  <button type="submit" class="btn btn-default">
    {% if boatClass is defined %}
      Update
    {% else %}
      Add
    {% endif %}
    Class
  </button>
</form>
