{% if seriesRow.leagueFileName|length > 0 %}
            <a target="_blank" href="/league-tables/{{ seriesRow.leagueFileName }}"><button class="btn btn-primary">View League Table</button></a>
{% else %}
            League table not yet available
{% endif %}
