{% if seriesRow.leagueFileName|length > 0 %}
            <a target="_blank" href="/league-tables/{{ seriesRow.leagueFileName }}">View League Table</a>
{% else %}
            League table not yet available
{% endif %}
