<a class="dropdown-toggle" href="#" data-toggle="dropdown">{{ user.name }} <strong class="caret"></strong></a>
<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px; width: 50px;">
  <a style="margin-bottom:20px;" href="{{ path('admin_logout') }}">Logout</a>
</div>
