<form method="post" class="form-inline">
  <div class="form-group">
    <label for="race-type">Race Type</label>
    <select name="race_type" class="form-control" id="race-type" placeholder="">
      <option value="HANDICAP">Handicap</option>
      <option value="CLASS">Class</option>
    </select>
  </div>
  <div class="form-group">
    <label for="race-name">Race Name</label>
    <input type="text" name="race_name" class="form-control" id="race-name" placeholder="">
  </div>
  <div class="form-group">
    <label for="race-laps">Laps</label>
    <input type="text" name="race_laps" class="form-control" id="race-laps" placeholder="">
  </div>
  <div class="form-group">
    <label for="race-date">Date</label>
    <span id="date1">
      <input type="text" data-provide="datepicker-inline" data-date-format="yyyy-mm-dd" name="race_date" class="form-control" id="race-date" placeholder="">
    </span>
  </div>
  <button type="submit" class="btn btn-default">Add Race</button>
</form>
