{% extends "user/layout.twig" %}
{% block breadcrumb %}
  {{ parent() }}
  <li>result</li>
{% endblock %}
{% block content %}

<h3>{% include 'partials/race-info.twig' %}</h3>

{%include 'partials/results-tables/class.twig' with {'results' : results} %}
{% endblock %}
