{% extends "user/layout.twig" %}
{% block breadcrumb %}
  <li><a href='/{{race.seriesId}}'>home</a></li>
  <li>result</li>
{% endblock %}
{% block content %}

<h3>{% include 'partials/race-info.twig' %}</h3>

{%include 'partials/results-tables/handicap.twig' with {'results' : results} %}
{% endblock %}
