<form method="post" class="form-inline">
  <div class="form-group">
    <label for="py-number-text">Enter New PY Number</label>
    <input type="text" name="py_number" class="form-control" id="py-number-text" placeholder="">
  </div>
  <button type="submit" class="btn btn-default">Add PY Number</button>
</form>
